/* custom add ons to the landing landing-page
unless stated in its own separate stylesheet */

/* ------------------------------------------------------------------ribbon */
.corner-ribbon {
	width: 250px;
	background: #e43;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #fff;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	z-index: 1;
}
/* Custom styles for the default ribbon */
.corner-ribbon.sticky {
 	position: fixed;
}
.corner-ribbon.shadow {
 	box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.top-right{
	top: 91px;
	right: -60px;
	left: auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.corner-ribbon.green {
    background: #4BAE4F;
}
.corner-ribbon.blue {
	background: #6699CC;
}

.corner-ribbon.red {
	background: #D9534F;
}

/* ------------------------------------------------------------------slider */
.vertical-slider {
	margin-top: 20px;
	margin-bottom: 5px;
	color: #FEC006;
}